#trigeo-mapsize .form-item,
#trigeo-mapsize-teaser .form-item,
#trigeo-mapsize-full .form-item
{ width: auto; float: left; }

#trigeo-mapsize div,
#trigeo-mapsize-teaser div,
#trigeo-mapsize-full div 
{ margin-right: 10px; }