#trigeo_cloud{
	height: 100%;
	width: 180px;
	padding: 3px;
}

#trigeo_title{
	color: blue;
	font-weight: bold;
	font-size: 14px;
}
#trigeo_thumb{
	float:left;
	margin: 3px;
	padding: 3px;
}

#trigeo_teaser{
	height: 160px;
}

#trigeo_link{
	
}