.mytrigeo-details-inline input,
.mytrigeo-date-inline .day input {
  width: auto;
  display: inline;
}

.mytrigeo-details-inline input .description {
  float: left;
}

.mytrigeo-date-inline div { 
  float: left;
  margin-right: 8px;
}

.mytrigeo-fields label{ color: #999999; }